.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #121212;
}
html {
  background-color: #121212;
  color: #b3b3b3;
}

a:hover {
  text-decoration: none;
  color: #1db954;
}

h2,
h3,
.nosave {
  color: #b3b3b3;
}

/*SIGN UP FORM STYLING*/

.signup form,
.editinfo form {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.signup form label,
.editinfo form label {
  margin-top: 1%;
}

.signup form button,
.editinfo form button {
  max-width: 150px;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*USER ACCOUNT STYLING */

.editinfo {
  margin: 0 auto;
  padding-top: 2%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}

.editinfo form {
  margin-right: 3%;
}

.editinfo form input {
  margin-bottom: 2%;
  margin-left: 5%;
}

.carousel {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2px;
}

.carousel-item img {
  width: 840px;
  height: 472px;
  object-fit: cover;
}

.home-h1 {
  margin-left: 20%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 1%;
  color: white;
}

.home-h3 {
  color: white;
  text-align: left;
  margin-left: 20%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.mood-label {
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  width: 100px;
}

.mood-input {
  margin-bottom: 3%;
}

.mood-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  padding: 1% 5% 1% 5%;
  border: solid #1db954 2px;
  height: 270px;
}

.personalInfo label {
  color: white;
}

.personalInfo button {
  margin-top: 5%;
  width: 100%;
}

.btn-saved-songs{
  border: none;
  color: b3b3b3;
}

.terminate{
  width: 220px;
  height: 30px;
  
  color: aliceblue;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgba(29, 185, 84, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-saved-song-container{
  width: 650px;
  
}

.no_saved_songs{

  font-size: 2rem;

  padding-top: 50%;

}

.no_saved_songs span:hover {

  cursor: pointer;
  color: #1db954

}

.saved-songs-container {
  overflow-y: scroll;
  height: 750px;
  width: 550px;
  margin: 0 auto;
} 

.saved-songs-container::-webkit-scrollbar-track{
  color: #1db954;
}
.play{
  height: 30px;
  width: 30px;

  margin-top: 3%;
}

.delete {
  height: 15px;
  width: 15px;

  margin-top: 5%;
}

.song {
  border: #1db954 solid 1px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  height: 10%;
  margin: 0 auto;
}

.song:hover {
  background-color: #1db954;
  border: black;
}

.song h3 {
  font-size: 1.3rem;
}

.middle-div {
  width: 230px;
}
