.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}


.header nav .nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  max-width: 1300px;
  margin: 0 auto;
}

.nav-links a {
  text-decoration: none;
}

/*SIGN UP FORM STYLING*/

.signup form, .editinfo form {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.signup form label, .editinfo form label{
 
  margin-top: 1%;
}

.signup form button, .editinfo form button {
  max-width: 150px;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;

}

/*USER ACCOUNT STYLING */